
.navbar {
    background-color: rgba(0, 0, 0, );
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.navbar-collapse {
    max-height: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar .navbar-brand, .navbar-nav .nav-link{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 200;
    margin: 0rem 4rem;
}

.navbar-nav{
    margin: 0rem 4rem;
}

.navbar-nav .nav-link {
    margin: 0rem 1rem;
    transition: transform 0.3s;
    letter-spacing: 0.1rem;
    font-weight: 200;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: rgb(255,255,255);
}

.navbar .navbar-brand:hover {
    color: rgb(255,255,255);
}


.navbar-toggler{
    margin: 0rem 2rem;
}

.navbar-toggler-icon{
    color: white;

}

@media (max-width: 991.98px ) {
    .navbar-collapse.show {
        max-height: 20rem;
        transition: max-height 0.5s ease;
        justify-content: center;
        overflow: hidden;
    }
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    text-align: left;
    margin-left: 4rem;
}


.header-content h1{
    font-size: 80px;
    font-weight: 350;
    letter-spacing: 0.25rem;
    margin: 0rem 0rem;
}

.header-content h2{
    font-size: 30px;
    font-weight: 350;
    color: white;
    margin: 0rem 0rem;
}

.header-content span{
    color: #E74646;
}

span.navbar-toggler-icon{
    color: white;
}
