/* NAVIGATION BAR */

.navbar {
    background-color: rgba(14, 14, 14, 0.8);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: top 0.3s;
}

.navbar-container.navbar-hidden .navbar {
    top: -60px;
}

.navbar-container.navbar-visible .navbar {
    top: 0;
}

#navigation-bar .navbar-collapse {
    max-height: 0;
    display: flex;
    justify-content: flex-end;
}

#navigation-bar .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin: 0rem 4rem;
}

#navigation-bar .navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 4rem;
}

#navigation-bar .navbar-nav {
    margin: 0rem 4rem;
}

#navigation-bar .navbar-nav .nav-link {
    margin: 0rem 1rem;
    transition: transform 0.3s;
    letter-spacing: 0.1rem;
}

#navigation-bar .navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
}

#navigation-bar .navbar-toggler {
    margin: 0rem 2rem;
}

#navigation-bar .navbar-toggler-icon {
    color: rgb(66, 99, 216);
}


@media (max-width: 991.98px) {
    #navigation-bar .navbar-collapse.show {
        max-height: 20rem;
        transition: max-height 0.5s ease;
        justify-content: center;
        overflow: hidden;
    }

    #navigation-bar .navbar-collapse {
        max-height: 0;
        overflow: hidden;
    }
}

/* CONTACT BUTTON */
.contact-btn {
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 110px;
    height: 100px;
    background-color: rgb(66, 99, 216);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    font-size: 14px;
    letter-spacing: 0.075rem;
}

.contact-btn:hover {
    background-color: rgb(34, 67, 186) 
  }

/* HOME */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

#home .header-content h1,
#home .header-content h2 {
    font-size: calc(2.5rem + 3vw);
    letter-spacing: 0.1rem;
}

#home .header-content h2 {
    display: inline-block;
    font-size: calc(1rem + 1vw);
}

#home .header-content h2 span {
    color: rgb(66, 99, 216);
}

/* PROFILE */
#profile {
    position: relative;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

#profile .header {
    margin: 3em;
}

#profile .profile-text {
    font-size: calc(2.5rem + 3vw);
}

#profile .star{
    font-size: calc(3em + 6vw);
    color: rgb(66, 99, 216);
}

#profile .profile-text-section{
    margin-top: 0em;
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: white;
    color: rgb(14,14,14);
}

#profile .text-left {
    position: relative;
    display: flex;
    padding-left: 4.5em;
    font-size: calc(1rem + 1vw);
    font-weight: 1000;
}

#profile .text-right {
    position: relative;
    display: flex;
    justify-content: right;
    padding-top: 3em;
    padding-right: 5em;
    font-size: calc(1rem + 1vw);
    font-weight: 1000;
}

/* EXPERIENCE */
#experience {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#experience .header {
    padding-left: 3em;
    background: white;
    color: rgb(14,14,14);

}

#experience .experience-text {
    font-size: calc(2.5rem + 3vw);
}

#experience .star{
    font-size: calc(3em + 6vw);
    color: rgb(66, 99, 216);
}

.timeline {
    margin: 4em auto;
    position: relative;
    max-width: 46em;
    list-style-type: none;

    &:before {
        background-color: rgb(60, 60, 60);
        content: '';
        margin-left: -1px;
        position: absolute;
        top: 1em;
        left: 2em;
        width: 2px;
        height: 85%;
        left: 4em;
    }
}

.timeline-event {
    position: relative;
}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 100%;

    h3 {
        font-size: clamp(1.5rem, 2.5vw, 2rem);
    }

    p:not(.timeline-event-thumbnail) {
        padding-bottom: 1.2em;
        font-size: clamp(1rem, 2vw, 1.5rem);
        color: rgb(173, 173, 173);
    }
}

.timeline-event-icon {
    background-color: rgb(14, 14, 14);
    outline: 2px solid rgb(66, 99, 216);
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.timeline-event-icon.current {
    background-color: rgb(66, 99, 216);
}


.timeline-event-thumbnail {
    color: rgb(66, 99, 216);
    border-color: rgb(66, 99, 216);
    border-style: solid;
    border-width: 1px;
    font-size: 0.75em;
    border-radius: 25%;
    background-color: white;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}