

.navbar {
    background-color: rgba(14, 14, 14, 0.8);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: top 0.3s;
}

.navbar-container.navbar-hidden .navbar {
    top: -60px;
}

.navbar-container.navbar-visible .navbar {
    top: 0;
}

#navigation-bar .navbar-collapse {
    max-height: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#navigation-bar .navbar-nav .nav-link {
    color: rgb(240, 240, 240);
    font-size: 16px;
}

#navigation-bar .navbar-brand {
    color: rgb(240, 240, 240);
    margin-left: 2em;
    height: 35px;
    width: 35px;
    margin-bottom: 10px;
}

#navigation-bar .navbar-nav {
    margin: 0em 2em;
}

#navigation-bar .navbar-nav .nav-link {
    margin: 0em 0.8em;
    transition: transform 0.3s;
}

#navigation-bar .navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
}

#navigation-bar .navbar-toggler {
    margin: 0rem 2rem;
}

#navigation-bar .navbar-toggler-icon {
    color: rgb(66, 99, 216);
}


@media (max-width: 991.98px) {
    #navigation-bar .navbar-collapse.show {
        max-height: 20rem;
        transition: max-height 0.5s ease;
        justify-content: center;
        overflow: hidden;
    }

    #navigation-bar .navbar-collapse {
        max-height: 0;
        overflow: hidden;
    }
}
