
.experience {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    background-color: white;
    color: rgb(14, 14, 14);
}

.timeline {
    margin: 4em auto;
    position: relative;
    max-width: 46em;
    list-style-type: none;

    &:before {
        background-color: rgb(60, 60, 60);
        content: '';
        margin-left: -1px;
        position: absolute;
        top: 1em;
        left: 2em;
        width: 2px;
        height: 85%;
        left: 4em;
    }
}

.timelineEvent {
    position: relative;
}

.timelineEventCopy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 100%;

    h3 {
        font-size: clamp(1.5rem, 2.5vw, 2rem);
    }

    p:not(.timelineEventThumbnail) {
        padding-bottom: 1.2em;
        font-size: clamp(1rem, 2vw, 1.5rem);
        color: rgb(173, 173, 173);
    }
}

.timelineEventIcon {
    background-color: rgb(14, 14, 14);
    outline: 2px solid rgb(66, 99, 216);
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.timelineEventIconCurrent {
    background-color: rgb(66, 99, 216);
    outline: 2px solid rgb(66, 99, 216);
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}


.timelineEventThumbnail {
    color: rgb(66, 99, 216);
    border-color: rgb(66, 99, 216);
    border-style: solid;
    border-width: 1px;
    font-size: 0.75em;
    border-radius: 25%;
    background-color: white;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}