
.home {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 900px;

}

.dot {
    width: calc(2em + 2vw);
    height: calc(2em + 2vw);
    background-color: rgb(219, 219, 219);
    border-radius: 50%;
    width: calc(2em + 2vw); 
    height: calc(2em + 2vw); 
    background-color: rgb(219, 219, 219);
    border-radius: 50%;
    position: absolute; 
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.nameContainer{
    text-align: start;
    padding-bottom: 4em;
    padding-left: 4em;
    width: 100%;
}

.nameContainer h1{
    font-size: calc(3em + 3vw);
    line-height: 1.2;
}

.positionContainer{
    text-align: right;
    padding-top: 20em;
    padding-left: 5em;
}

.positionContainer h1{
    font-size: calc(3em + 3vw);
}