/* PROFILE */
.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgb(240, 240, 240);
  min-height: 100vh;
}

.header {
  margin: 2em 2em;
  padding: 0em;
}

.headerText {
  font-size: calc(1em + 3vw);
}

.profileContainer {
  background-color: rgb(240, 240, 240);
  color: rgb(14, 14, 14);
  padding-top: 10em;
  padding-bottom: 10em;
}

.profileText{
  display: flex;
  position: relative;
  justify-content: center;
  font-family: 'Arial' ;
  font-size: 20px;
}


.profileImageContainer {
  display: flex;
  position: relative;
  justify-content: center;
}

.profileImageContainer img {
  max-width: 100%;
  height: auto;
}