@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: Neue-Hass;
  src: url('../public/assets/fonts/neue-hass/NeueHaasDisplayLight.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #070a15;
  /* background-color: #31363F; */
  font-family: Neue-Hass;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
