@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Helvetica-Neue';
  src: url('/src/assets/fonts/helvetica-neue-5/HelveticaNeueLight.otf');
}
@font-face {
  font-family: 'Hiragino-Kaku';
  src: url('/src/assets/fonts/hiragino-kaku-gothic-pro/hiragino-kaku-gothic-pro-w3.otf');
}

body, html {
  font-family: 'Hiragino-Kaku';
  background-color: rgb(14,14,14);
  color: rgb(240,240,240);
}

.App {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;  
}
